.bg-search-assets-comp-modal {
  background: #bbbbbb;
  border-radius: 80px;
  border: 2px solid black;

  width: 100%;
  margin-bottom: 10rem;
}
.missin-modal {
  width: 20rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.missin-modal:hover {
  width: 20rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.btns-modal {
  margin-left: 31rem;
  margin-right: 31rem;
  margin-top: 10rem;
}
@media screen and (max-width: 1319px) {
  .btns-modal {
    margin-right: 22rem;
    margin-left: 22rem;
  }
}
