.table {
  display: block;
  empty-cells: show;
  border-spacing: 0;

  padding-bottom: 3rem;
  position: relative;
}
.table-cont {
  background: #e3e7f0;
  border: 1px solid;
  border-radius: 2rem;
}
.row {
  scrollbar-gutter: 0;
}
.table thead {
  position: relative;
  display: block;
  width: 100%;

  text-align: center;
 
  color: rgb(0, 0, 0);

}

.table tbody {
  max-height: 17rem;
  padding: 2em;

  display: block;
  overflow-y: scroll;
  border-bottom-left-radius: 2rem;
  text-align: center;

}

.table tr {
  width: 100%;
  display: flex;
}

.table td,
.table th {
  flex-basis: 100%;
  flex-grow: 2;
  display: block;
  padding: 1rem;
}

table tr td {
  border: none;
  color: #1976d6;
}
table tr th {
  color: #1976d6;
}

.table-card-heading {
  color: #1976d6;
  font-weight: bold;
}
.position {
  width: 80%;
  height: 2px;
  background: #8d88887c;
  position: absolute;
  bottom: 3rem;
  left: 4.5rem;
}
