.bg-search-assets-comp{
    background: rgb(227, 231, 240);
    height: 93.2vh;
    border-radius: 80px;
    margin: 4px;
    border : 2px solid black;

}
.container-search-assets-comp{
    padding-top: 5rem;
}
.misson{
    text-align: left;
}
.dropdown-toggle::after{
    margin-left:19rem ;
 
}
.missin{
    border: 1px solid rgb(0, 0, 0);
}
.missin:hover{
    border: 1px solid rgb(0, 0, 0);
}
.btn-search-asset{
    margin-top: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btn-search-export{
    background: #c6c3c3;
    border: 1px solid rgb(66, 143, 225);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}