.mini {
  font-size: 19px;
}
.img-icon-check {
  width: 40px;
}
@media screen and (max-width: "1082px") {
  .mini {
    font-size: 10px;
  }
}
@media screen and (max-width: "826px") {
  .mini {
    font-size: 15px;
  }
}
